@media (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 417px);
        padding-right: calc(50% - 417px);
    }

    .for__img {
        height: 266px;
    }
    .for__img_big {
        height: 268px;
    }

    .footer__logo {
        display: none;
    }

    // .footer__logo_logo {
    //     display: none;
    // }

    .basket__for_grid {
        grid-template-columns: repeat(8,1fr);
    }
}