* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.box {
    min-height: 735px;
    background-image: url(./img/top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    &__mob {
        display: none;
    }
    &__logo {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        
    }
    
    &__input {
        min-width: 288px;
        height: 41px;
        background-color: transparent;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 10.5px 32px 10.5px 32px;        
        outline: none;               
    }
    
    &__input::placeholder {
        color: #FFFFFF;
        font-size: 1.2em;                
    }
    
    &__menu {
        display: flex;
        gap: 32px;
    }
    
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;               
        transition: all 1s;
        &:hover {            
            color: #888888;
            text-decoration-line: underline;            
        }      
    }    
}

.section {
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        color: #FFFFFF;
        margin-top: 64px;
        margin-bottom: 16px;
        width: 792px;
    }
    
    &__slogan {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    
    &__catalog {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #FFFFFF;
        margin-bottom: 367px;
        transition: 1s;
        &:hover {
            color: #888888;
        }
    }
}

.for {
    padding-top: 64px;
    &__heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        align-items: center;
        color: #000000;
        padding-bottom: 32px;
        
    }
    
    &__grid {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12,1fr);
    }
    
    &__img {
        grid-column: span 4;
        height: 415px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    
    &__img_big {
        grid-column: span 6;
    }
    
    &__img1 {
        background-image: url(./img/img1.jpg);
    }
    
    &__img2 {
        background-image: url(./img/img2.jpg);
    }
    
    &__img3 {
        background-image: url(./img/img3.jpg);
    }
    
    &__img4 {
        background-image: url(./img/img4.jpg);
    }
    
    &__img5 {
        background-image: url(./img/img5.jpg);
    }
}

.product-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 39px;      
}

.product {
    width: 378px;
}  
 
.section {
    &__subject {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
        margin-top: 64px;
        margin-bottom: 32px;
    }
    
    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 8px;
    }
    
    &__description {
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-bottom: 12px;
    }
    
    &__desc {
        display: flex;
        gap: 32px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    
    &__text {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
    }
}

.product-box__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 30px;
    transition: color 1s;
    &:hover {        
        text-decoration-line: none;
        color: #888888;        
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 207px;
    margin-top: 64px;
    padding-top: 32px;
    background: #F7F6F6;
    &__logo {
        display: flex;
        align-self: start;
    }
    &__logo_logo {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }
    &__menu {
        display: flex;
        flex-direction: column;
    }
    &__caption {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 12px;
    }
    &__ots {
        margin-bottom: 12px;
    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
        margin-bottom: 12px;
        transition: all 1s;
        &:hover {
            color: #888888;
            text-decoration-line: underline;
            transform: scale(1.2);
        }
    }
    &__icon {
        display: flex;
        gap: 24px;
        align-items: center;        
    }
    &__cntct {
        display: flex;
        flex-direction: column;
    }
    &__contact {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 12px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__form_text {
        font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 16px;
    }
    &__form_btnemail {
        min-width: 275px;
        height: 46px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        margin-bottom: 12px;
        padding: 12px 25px 14px 25px;        
        outline: none;  
    }
    &__form_button {
        font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        width: 275px;
        height: 46px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .5s;
        &:hover {
            background: #000000;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 20px;
            color: #FFFFFF;
        }
    } 
}

.catalog {
    &___box {
        min-height: 400px;
        background-image: url(./img/catalogheader.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    
    &___headerproduct {
        padding-top: 64px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
    }
    
    &___headerproduct__info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        flex: none;
        margin: 0px 10px;        
    }
    
    &___headerproduct__input {
        height: 41px;
        width: 288px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        border-bottom: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding-left: 14px;
        padding-right: 14px;
        color: #000000;
        outline: none;
    }
}

@keyframes myAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
}

.basket {
    &___box {
        height: 400px;
        background-image: url(./img/basketheader.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    
    &__for_grid {
        display: grid;
        grid-template-columns: repeat(12,1fr); 
        gap: 32px;         
    }
    
    &__section_left {
        grid-column: span 8;
    }


    &__title {
        grid-column: span 8;
        display: flex;        
        justify-content: space-between;
    }
    
    &__title_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 64px;
        padding-bottom: 39px;
    }

    &__title_text_count {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 64px;
        padding-right: 60px;
        padding-bottom: 39px;
    }

    &__img1 {
        margin-right: 31px;
        margin-bottom: 64px;
        padding-top: 25px;
    }

    &__section_leftpath {        
        display: flex;
        border-top: 0.5px solid #CACDD8;
    }

    &__prod_secName_name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;        
        margin-bottom: 14px;
        padding-top: 25px;
    }

    &__size {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        max-width: 47px;         
        text-align: center;
        background: #F7F6F6;
        border-radius: 6px;
        border: none;        
        margin-top: 25px;    
    }
    
    &__section_description {
        width: 276px;
        height: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-bottom: 16px;
    }
    
    &__section_desc {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #050505;
        margin-bottom: 15px;
    }
    
    &__nameinumber {
        min-width: 581px;
        display: flex;
        justify-content: space-between;
    }
    
    &__sec_btn {
        display: flex;    
    }
    
    &__btn {
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #020202;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            color: #FFFFFF;
            background: #000000;
        }
    }
    
    &__button {
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        border-radius: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #020202;
        margin-left: 7px;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            color: #FFFFFF;
            background: #000000;
        }
    }
    
    &__title_text {    
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
    
    &__decorationZakaz {
        grid-column: span 4;
        background: #F7F6F6;
        border-radius: 20px;
        margin-top: 64px;
    }
    
    &__decorationZakaz_header {
        width: 379px;
        display: flex;
        justify-content: space-evenly;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        padding-top: 42px;
    }
    
    &__line {
        border: 1px solid #CACDD8;
    }
    
    &__decorationZakaz_fio {
        width: 288px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-left: 27px;
        margin-top: 35px;
    }

    &__decorationZakaz_tel {
        width: 288px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-left: 27px;
        margin-top: 41px;
    }
    
    &__decorationZakaz_adress {
        width: 288px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-left: 27px;
        margin-top: 41px;
    }
    
    &__decorationZakaz_price {
        display: flex;
        justify-content: space-evenly;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 64px;
    }
    
    &__decorationZakaz_ofer {       
        width: 290px;
        height: 41px;
        border: 1px solid #040404;
        box-sizing: border-box;
        border-radius: 20px;        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-left: 45px;
        margin-top: 18px;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            animation: myAnim 2s linear 1s 1 normal forwards;
            background: #000000;
            color: #FFFFFF;
        }
    }
}

@import 'tablet';
@import 'mobil';
